<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>𝓞𝓹𝓽𝓲𝓶𝓲𝔃𝓪 𝓽𝓾 𝓹𝓬</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <link rel="icon" href="/static/images/pc-removebg-preview.png" type="image/x-icon">

</head>
<body>
    <main class="gamer-background">
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <h1 class="title">𝓑𝓲𝓮𝓷𝓿𝓮𝓷𝓲𝓭𝓸 𝓪 𝓞𝓹𝓽𝓲𝓶𝓲𝔃𝓪 𝓽𝓾 𝓹𝓬</h1>
        <!-- Botón para ir a la página de inicio -->
        <a href="{{ url_for('home') }}" class="button">𝙄𝙧 𝙖 𝙡𝙖 𝙥á𝙜𝙞𝙣𝙖 𝙙𝙚 𝙞𝙣𝙞𝙘𝙞𝙤</a>
    </main>
</body>
</html>
